* {
  padding: 0;
  margin: 0;
}

body {
  color: #2f2f2f;
  font-family: 'Roboto', sans-serif;
  background-color: #aab5b0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-size: 36px;
  padding: 15px;
  background-color: #88a8d8;
}

aside {
  font-size: 20px;
  margin-top: 15px;
  background-color: #ffffff66;
}

aside > .menu__section {
  padding: 10px;
  border-style: solid;
  border-width: 0 4px 0 0;
  border-color: #88a8d8;
}

section {
  margin: 10px;
  padding: 5px;
}

.content{
  display: flex;
}

.section__title {
  font-size: 24px;
}

.section__subtitle {
  font-size: 20px;
  padding-top: 10px;
}

.section__description {
  padding: 10px 0 0 10px;
}

.section__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.section__element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.groups-wrapper {
  display: flex;
  justify-content: space-around;
}

.section__element__grouped {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.vertical__tabs__wrapper {
  max-width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  position: relative;
  clear: both;
}

