* {
  padding: 0;
  margin: 0;
}

body {
  color: black;
}

section {
  margin: 10px;
  padding: 5px;
}

.section__title {
  font-size: 24px;
}

.section__subtitle {
  font-size: 20px;
  padding-top: 10px;
}

.section__description {
  padding: 10px 0 0 10px;
}

.section__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.section__element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.groups-wrapper {
  display: flex;
  justify-content: space-around;
}
.section__wrapper__group__one {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.section__wrapper__group__two {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.section__element__grouped {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.vertical__tabs__wrapper {
  max-width: 70%;
  margin: auto;
  display: flex;
}
.vertical__tab__content {
  padding: 30px;
  border: 1px solid black;
  height: 250px;
}
