.visible {
  display: inline !important;
}

.tab__headers {
  height: 48px;
  z-index: 2;
}

.tab__headers > div {
  float: left;
}

.tab__header {
  cursor: pointer;
  padding: 15px;
  border-width: 1px 1px 0 1px;
  border-style: solid;
}

.tab__header:nth-child(1){
  border-color: black black white black;
}

.tab__header:nth-child(2){
  border-color: white;
  border-width: 2px 0 0 0;
  background-color: green;
}

.tab__header:nth-child(3){
  border-color: white;
  border-width: 4px 0 0 0;
  background-color: blue;
}

.tab__header:nth-child(4){
  border-color: white;
  border-width: 6px 0 0 0;
  background-color: purple;
}

.tab__content{
  display: none;
  float: left;
  cursor: pointer;
  padding: 15px;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  margin-top: -6px;
}

#tab1 {
  background-color: white;
  border-color: black;
}

#tab2 {
  background-color: green;
  border-color: green;
}

#tab3 {
  background-color: blue;
  border-color: blue;
}

#tab4 {
  background-color: purple;
  border-color: purple;
}
